<div class="footer bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <h1 class="font-weight-bold text-white mt-4 mb-3">TODO Manager</h1>
      </div>
      <div class="col-md-4 col-sm-6">
      </div>
      <div class="col-md-4 col-sm-6">
      </div>
    </div>
  </div>
</div>
