<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger alert-dismissible fade show rounded-0" role="alert">
      <h6><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.to_s.downcase %> from being saved:</h6>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% object.errors.full_messages.each do |message| %>
          <li class="lead-site"><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
