<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow rounded-0">
        <div class="card-body">
          <h1>New Todo type</h1>
          <%= render 'form', todo_type: @todo_type %>
        </div>
      </div>
    </div>
  </div>
</div>
