<div class="jumbotron rounded-0">
  <div class="pl-md-5 pr-md-5">
    <h1 class="display-4 sm-h">Hello, world!</h1>
    <p class="lead sm-t">This is a simple plateform for you to manage your activities by creating TODOs. This is very simple to start we just need you to sign in here and then you can manage your list of TODOs.</p>
    <hr class="my-4">
    <p class="sm-t">We never share your activities with any other so feel free to create your wishlist here and track them easily..</p>
    <% unless user_signed_in? %>
      <p class="lead">
        <%= link_to "Register Now", new_user_registration_path, class: "btn btn-primary btn-lg rounded-0 shadow" %>
      </p>
    <% end %>
  </div>
</div>
