<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card shadow rounded-0">
        <div class="card-body">
          <h1>Editing Todo</h1>
          <%= render 'form', todo: @todo %>
        </div>
      </div>
    </div>
  </div>
</div>
