<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Listing Todos</h1>
      <div id="todo_list" class="list-group" data-url="<%= sort_todos_path %>">
        <% @todos.each do |todo| %>
          <%= link_to todo.title, todo, class: "list-group-item list-group-item-action", id: dom_id(todo) %>
        <% end %>
      </div>
      <br>
      <%= link_to 'New Todo', new_todo_path, class: "btn btn-primary rounded-0" %>
    </div>
  </div>
</div>
